@import '../../../helper/mixin';
.slider{
  width: 100%;
  background: #FFFFFF;
  height: 600px;
  position: relative;
  z-index: 2;
  transition: z-index 0.1s, opacity 1s;
  & .hoverBlock{
    z-index: -1;
    opacity: 0;
    &.visibleInfo{
      z-index: 10;
      opacity: 1;
    }
  }
  & .sliderBlock{
    @include flex-space-center();
    height: 600px;
    & .sliderBlock__imageContainer{
      height: 100%;
      & .sliderBlock__imageContainer_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .sliderBlock__textContainer{
      padding: 40px;
      background: #16293D;
      height: 100%;
      box-sizing: border-box;
      @include flex-center();
      flex-direction: column;
    }
  }
}
.sliderInfo__title{
  max-width: 300px;
  text-align: left;
  @include font-setter(nornal,bold, 40px,46px,#FFF);
}
.sliderInfo__text{
  max-width: 300px;
  text-align: left;
  margin-top: 20px;
  & .sliderInfo__text_normal{
    margin-bottom: 10px;
    @include font-setter(nornal,normal, 21px,24px,#FFF);

  }
}
.visibleInfo{
  z-index: 10;
  opacity: 1;
}
.viewButton{
  @include clear();
  @include flex-center();
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 20;
  @include font-setter(nornal,bold, 41px,24px,#FFF);
  @include border-radius(25px);
  &:hover{
    box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.4), 0px 0px 0px 4px rgba(255, 255, 255, 0.4);
    background: #FFF;
    font-size: 21px;
    color: #16293D;
  }
  &.whiteButton{
    background: #FFF;
    font-size: 21px;
    color: #16293D;
  }
}
.hoverBlock{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(104.04deg, rgba(46, 60, 85, 0.75) 0%, rgba(75, 99, 141, 0.75) 100%);
  @include flex-center();
  flex-direction: column;
  & .hoverBlock__title{
    max-width: 80%;
    @include font-setter(nornal,bold, 61px,64px,#FFF);
    margin-bottom: 30px;
  }
  & .hoverBlock__text{
    @include font-setter(nornal,normal, 31px,34px,#FFF);
    margin-bottom: 50px;
  }
  & .downloadButton{
    @include clear();
    @include flex-center();
    border: 2px solid #64C3FA;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(104.04deg, rgba(46, 60, 85, 0.75) 0%, rgba(75, 99, 141, 0.75) 100%);
    &:hover{
      box-shadow: 0px 10px 40px rgba(100, 195, 250, 0.4), 0px 0px 0px 4px rgba(100, 195, 250, 0.4);

    }
    & .downloadButton__image{
      max-width: 40px;
      max-height: 40px;
    }
    & .downloadButton__text{
      @include font-setter(nornal,bold, 31px,34px,#3480F3);

    }
  }
}

@media all and (min-width: 1200px) {
  .sliderBlock__imageContainer{
    width: 70%;
  }
  .sliderBlock__textContainer{
    width: 30%;
  }
}

@media all and (max-width: 1200px) {
  .sliderInfo__title{
    font-size: 30px !important;
    line-height: 36px !important;
  }
}


@media all and (max-width: 900px) {
  .sliderBlock__imageContainer{
    width: 60%;
  }
  .sliderBlock__textContainer{
    width: 40%;
    align-items: flex-start !important;
  }
}
@media all and (max-width: 750px) {
  .slider{
    height: auto !important;
  }
  .sliderBlock__imageContainer{
    height: 400px !important;
    width: 100%;
  }
  .sliderBlock__textContainer{
    width: 100%;
    padding-left: 50px !important;
    padding-right: 50px !important;
    flex-direction: row !important;
    align-items: center !important;
    min-height: 300px;
  }
  .sliderBlock{
    flex-direction: column;
    width: 100%;

  }
  .sliderInfo__title{
    width: 50%;
    text-align: left;
  }
  .sliderInfo__text{
    margin: 0!important;
    width: 50%;
  }
  .hoverBlock__title{
    font-size: 50px !important;
    line-height: 54px !important;
  }
  .viewButton{
    bottom: 50px !important;
    left: 20px !important;
  }
}

