@import '../../../helper/mixin';

.animationBlock{
  height: 400px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 0 50px;
  box-sizing: border-box;
  & .animationBlock__background{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
  }
}

.infoBlock{
  z-index: 1;
  position: relative;
  width: 330px;
  height: 340px;
  box-sizing: border-box;
  @include flex-center();
  flex-direction: column;
  padding: 20px 40px;
  position: relative;
  background: linear-gradient(113deg, #10c899, #ff0200, #b3c524, #1ef3ff, #fd00ff, #6f46d4, #29674f, #f7a90b);
  background-size: 1600% 1600%;
  -webkit-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
  &:after{
    width: 380px;
    height: 280px;
    position: absolute;
    content: '\A';
    border: 2px solid #FFF;
    top: 30px;
    z-index: 10;
    left: -30px;
  }
  &:before{
    width: 80px;
    height: 80px;
    position: absolute;
    content: '\A';
    border: 2px solid #FFF;
    bottom: -30px;
    z-index: 8;
    background: linear-gradient(113deg, #10c899, #ff0200, #b3c524, #1ef3ff, #fd00ff, #6f46d4, #29674f, #f7a90b);
    background-size: 1600% 1600%;
    -webkit-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    animation-direction: alternate-reverse;
    border-radius: 100%;
    left: -50px;
  }
}

.text{
  @include font-setter(normal,600,45px,50px,#FFF);
  width: 100%;
  &.text__right{
    text-align: left;
  }
  &.text__left{
    text-align: left;
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
@keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
